*,*:before,*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:  hsl(206, 47%, 93%);
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    line-height: 1.625;
}
.wrapper{
    display: flex;
    flex-flow: column nowrap;
    margin: 4rem auto;
    width: 80%;
    min-width: 290px;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 1rem 4rem -2rem #000;
}
section{
    padding: 1rem 1.5rem;
    flex-basis: 50%;
}
.header{
    padding: 1.7rem 1.5rem 2rem;
    flex-basis: 100%;
    background-color: #fff;
}
.header h1 {
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: hsl(179, 62%, 43%);
}
.message{
    margin-bottom: 1.2rem;
    font-size: 0.9rem;
    color:  hsl(71, 73%, 54%);
}
.gray-message{
    font-size: 0.9rem;
    color:  hsl(218, 22%, 67%);
}
.main{
    background-color:  hsl(179, 62%, 43%);
    color: #fff;
}
.main h2{
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}
.price-course{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(255,255,255,0.5);
}
.price{
    font-size: 2rem;
    font-weight: bold;
    margin-right: 1rem;
    color: rgba(255,255,255,1);
}
.advantage{
    margin-bottom: 2rem;
}
.btn{
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.3rem;
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    background-color: hsl(71, 73%, 54%);
}
.description{
    background-color:  hsl(179, 48%, 53%);
    color: #fff;
}
.description h2{
    font-size: 1.1rem;
    margin-bottom: 1rem;
}
.description ul{
    font-size: 0.9rem;
    list-style-type: none;
    color: rgba(255,255,255,0.7);
}

@media screen and (min-width: 578px) {
    .wrapper{
        max-width: 635px;
        display: flex;
        flex-flow: row wrap;
    }
    .btn{
        transition: background-color 0.3s;
    }
    .btn:hover{
        background-color: hsl(31, 73%, 54%);
    }

}